@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after { box-sizing: border-box; }
  html { overflow-x: hidden; }
  html, body { margin: 0; padding: 0; width: 100%; }
  body { overflow-x: hidden; }
  :root { color-scheme: light; }
  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #d0cfc9; border-radius: 2px; }
}
